<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Phlip Test Suite">
            <directory>tests/Unit</directory>
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="xdebug.max_nesting_level" value="512" />
    </php>
</phpunit>
